body {
	background-image: linear-gradient(rgba(29, 137, 204, 0.6),rgba(29, 137, 204, 0.6) ), url(../img/tareas.jpg);
	height: 100vh;
	background-size: cover;
	background-position: center;
	font-family: 'Source Sans Pro', sans-serif;
}

.todo-section {
	text-align: center;
	margin-top: 100px;
}

.todo-section > .todo-header {
	font-size: 40px;
	text-transform: uppercase;
	color: white;
	letter-spacing: 2px;
	margin-bottom: 50px;
}


.todo-container {
	margin: 0 auto;
	margin-top: 50px;
	width: 500px;
	list-style-type: none;
	box-shadow: 1px 2px 5px rgba(0,0,0,.31);
}

.todo-container > li {
	background-color:#F8F8F8 ;
	text-transform: uppercase;
	color: #555555;
	border-bottom: 1px solid #c7c7c7;
	height: 50px;
	line-height: 50px;
	padding-left: 12px;
}

.todo-container > .todo-cabecera {
	text-align: center;
	background-color: #1d89cc;
	color: #FFF;
	text-transform: uppercase;
	font-size: 18px;

}

.add-task{
	border-radius: 0px;
}

#tarea {
	border-radius: 0px;
}

.add-task {

	padding: 10px;
	color: #1ABC9C;
	font-size: 18px;
	font-weight: 700;
	border: 1px solid #007bb7;
	box-shadow: 1px 2px 5px rgba(0,0,0,.31);
	cursor: pointer;

}

.remove-item {
	float: right;
	border: 0;
	background-color: transparent;
	cursor: pointer;
	margin-right: 12px;
}

.remove-item > i{
	font-size: 30px;
	color: #ED5B63;
	line-height: 50px;


}

/************************/
/*loader*/
/************************/

.loader {
	margin: 20px auto;
	border: 10px solid #c7c7c7;
	border-top: 10px solid #007bb7;;
	border-radius: 50px;
	width: 100px;
	height: 100px;
	animation: spin 2s linear infinite;
}

@keyframes spin {
	0% {transform: rotate(0deg);}
	100% { transform: rotate(360deg);}
}
